@import '../../assets/css/code.scss';

.custom-table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
    border-color: #dee2e6;

    tr {
        th {
            font-weight: 500;
            font-size: 14px;
            padding: 25px 0 30px;
            &:last-child {
                text-align: center;
            }
            @media screen and (max-width:1024px) {
                padding: 5px 0 10px;
            }
        }
    }

    tbody {
        border-radius: 4px;
        overflow: hidden;
        
        tr {
            background-color: #FFFFFF;
            transition: background-color 500ms;

            &:hover {
                background-color: #F5F5F5;
            }
    
            td {
                padding: 25px;
                color: $grayColor;
                font-size: 14px;
                border-bottom: 1px solid #DEDEDE;

                @media screen and (max-width:1024px) {
                    padding: 10px;
                }

                &:last-child {
                    text-align: center;
                }

                svg {
                    height: 14px;
                }
            }

            &:last-child td {
                border-bottom: 0;
            }
        }
    }

    @media only screen and (max-width: 1024px) {

        /* Force table to not be like tables anymore */
        table, thead, tbody, th, td, tr { 
            display: block; 
        }
        
        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr { 
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
        
        tr { border: 1px solid #ccc; }
        
        td { 
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee; 
            position: relative;
            padding-left: 50%; 
        }
        
        td:before { 
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%; 
            padding-right: 10px; 
            white-space: nowrap;
        }
    }
}

