* {
    padding: 0;
    margin: 0;
}

$mainBlue: #1E398F;

body {
    background-color: #E5E5E5;
}

.side-bar {
    width: 240px;
    height: 100%;
    position: fixed;
    background-color: $mainBlue;
}