@import 'code';

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
}

body {
    height: 100%;
    background-color: $bgColor !important;
}

.app {
    height: 100%;
    display: flex;

    .content {
        height: 100vh;
        flex: 1;
    }
}

.section {
    margin: 35px 50px;

    @media screen and (max-width:481px) {
        margin: 35px 20px;
    }

    .content-body-head {
        display: flex;
        justify-content: space-between;

        h3 {
            font-size: 22px;
            margin: 0 0 35px;
        }

        input {
            width: 236px;
            height: 42px;
            padding: 0 0 0 20px;
            border: 1px solid #FFFFFF;
            border-radius: 4px;
            background-color: #FFFFFF;
            font-size: 15px;
        }
        
        input::placeholder {
            font-weight: 500;
        }

        svg {
            stroke: $grayColor;
            padding: 20px;
            background-color: #FFFFFF;
        }
    }
}

