* {
    padding: 0;
    margin: 0;
}

$bgColor: #1E398F;
$mainBlue: #1E398F;

body {
    background-color: $bgColor;
}

.app {
    height: 100%;
    display: flex;
}

.side-bar {
    width: 256px;
    height: 100%;
    background-color: $mainBlue;
}

.app-body {
    flex: 1;
    background-color: #fff;
}