@import '../../assets/css/code.scss';
@import '../../assets/css/custom.scss';

.anime-h {
    height: 64px;
}

.content-body {
    .card {
        border-radius: 4px;
        padding: 23px 25px;
        overflow: hidden;

        &--speaking {
            border: 0;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;

            .card-circle {
                width: 84px;
                height: 84px;
                background-color: $mainBlue;
                color: #FFFFFF;
                border-radius: 50%;
                text-align: center;
                display: flex;
                align-items: center;
    
                p {
                    font-size: 13px;
                    margin: 0;
                }
    
                h5 {
                    font-size: 17px;
                    margin: 0;
                }
    
                svg {
                    width: 20px;
                }
            }
        }
    }
}
