@import '../../assets/css/code.scss';

.top-bar {
    background-color: #FFFFFF;
    flex: 1;
    height: 84px;
    align-items: center;

    ul {
        display: flex;
        justify-content: flex-end;
        height: 84px;
        align-items: center;
        margin-right: 30px;

        li {
            margin: 24px 16px;

            &:nth-child(1) span {
                color: $grayColor;

                svg {
                    height: 10px;
                }
            }

            &:nth-child(2) {
                svg {
                    fill: $grayColor;
                    width: 20px;
                    height: 20px;
                }
            }

            &:nth-child(3) {
                svg {
                    stroke: $grayColor;
                    width: 20px;
                    height: 20px;
                }
            }

            &:nth-child(4) {
                img, span {
                    margin: 0 16px;
                }
            }
        }
    }
}