@import '../../assets/css/code.scss';

.section {
    margin: 35px 50px;

    .content-body-head {
        h3 {
            font-size: 22px;
            margin: 0 0 35px;
        }
    }

    .content-body {
        .card {
            border-radius: 4px;
            padding: 25px;
            position: relative;

            .card-header {
                border-bottom: 0.5px solid #DEDEDE;
                background-color: #FFFFFF;
                padding: 0;
            }

            ul {
                padding: 0;
            }

            h4 {
                font-size: 19px;
                padding: 0 0 10px;
            }

            ul li {
                margin-top: 25px;
            }

            ul li h4 {
                font-size: 15px;
                text-transform: uppercase;
                padding: 0;
            }

            ul li p {
                font-size: 12px;
                color: #878787;
            }

            label {
                display: flex;
                align-items: center;
            }

            label {
                h4 {
                    margin: 0 8px;
                }
            }

            a {
                color: $mainBlue;
                text-decoration: none;
                font-size: 13px;
                position: absolute;
                right: 0;
                bottom: 0;
                margin: 25px;
                font-weight: bold;
            }

            svg {
                fill: $mainBlue;
                width: 7px;
                padding: 0 0 2px;
            }
        }

        
    }
}